@(myForm: Form[InsolvencyPredictorData])(formOptions:Map[String, Seq[(String, String)]])(predictions:Map[String, String])(additionalRules:List[List[String]])
@import play.i18n._

<div style="width: 300px;float: left;">
 @helper.form(action = routes.Application.index, 
              'id -> "insolvencyPredictionForm") {   
 @helper.select(field=myForm("left_insolvency_state"),
				               options=formOptions.get("insolvency_state"),
				               'multiple -> "multiple", 
				               'style -> "display: none;",			                
				               '_label -> "")  
 @helper.select(field=myForm("right_insolvency_state"),
				               options=formOptions.get("insolvency_state"),
				               'multiple -> "multiple", 
				               'style -> "display: none;",			                
				               '_label -> "")  
				               
 <table id="insolvencyDetailFormTable">
 <tr>
     <td>@Messages.get("person_type"):</td>
	 <td>
	 	 @helper.select(field=myForm("subject_type"),
		 	               options=formOptions.get("subject_type"),			
		 	               'class -> "chosen-select-no-single",
		 	               'style -> "width:120px;",
		 	               '_label -> "")
	 </td>
 </tr>
 <tr>
     <td>@Messages.get("education"):</td>
	 <td>
		 @helper.select(field=myForm("title"),
				               options=formOptions.get("title"),			
				               'class -> "chosen-select-no-single",
				               'style -> "width:190px;",						               
				               '_label -> "")
     </td>
    </tr>
    <tr>
        <td>@Messages.get("gender"):</td>
        <td>
		 @helper.select(field=myForm("gender"),
				               options=formOptions.get("gender"),			
				               'class -> "chosen-select-no-single",
				               'style -> "width:150px;",
				               '_label -> "")
	 </td>
 </tr>
 <tr>
     <td>@Messages.get("age"):</td>
        <td>
	     @helper.select(field=myForm("age_group"),
				               options=formOptions.get("age_group"),			
				               'class -> "chosen-select-no-single",
				               'style -> "width:150px;",
				               '_label -> "")
        </td>
       </tr>
       <tr>
           <td>@Messages.get("region"):</td>
        <td>
	     @helper.select(field=myForm("region"),
				               options=formOptions.get("region"),			
				               'class -> "chosen-select-no-single",
				               'style -> "width:190px;",
				               '_label -> "")
        </td>
       </tr>
       <tr>
           <td>@Messages.get("creditors"):</td>
        <td>
        	@helper.select(field=myForm("creditors"),	         	 					   
				               options=formOptions.get("creditors"),
				               'multiple -> "multiple", 
							   'class -> "chosen-select",
							   'style -> "width:190px;",									   	                
				               '_label -> "")  			 			              		               
     </td>
    </tr>
    <tr>
       	<td><a href="/ipredictor"><div class="asSubmit">@Messages.get("button.clean")</div></a></td>
    	<td><input type="submit" value="@Messages.get("button.send")"></tr>
   </table>     
   
}  

<div class="info-box">
	<h2>@Messages.get("help")</h2>
	<div>
		<ul>
			<li>@Html(Messages.get("probability_help"))</li>
			<li>@Html(Messages.get("support_help"))</li>
			<li>@Html(Messages.get("not_found_help"))</li>
		</ul>
	</div>
</div>

</div>
<div id="graph" style="float: right">
</div>

<script type="text/javascript">
   $('#creditors').attr("data-placeholder", "@Messages.get("choose_creditors")");
   
  	var form=document.getElementById('insolvencyPredictionForm');
 	form.onsubmit=function(){
  var arr=this.elements,i=0,l=arr.length;
  for(;i<l;i++){
    if(arr[i].value==='notselected'){
      arr[i].disabled=true;
    }
  }
}
   var config = {
     '.chosen-select'           : {},
     '.chosen-select-deselect'  : {allow_single_deselect:true},
     '.chosen-select-no-single' : {disable_search_threshold:10},
     '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
     '.chosen-select-width'     : {width:"95%"}
   }
   for (var selector in config) {
     $(selector).chosen(config[selector]);
   }
 </script>

<script type="text/javascript">
window.onload = function() {
			var edge_labels = new Object();
			@for((node_id, label) <- predictions) {
		edge_labels["@node_id"] = "@label";
	}

	var graph = {
		nodes : [ {
			index : 0,
			name : "@Messages.get("unresolved")",
			id : "unresolved", 
			x : 340,
			y : 62,
			yy: "0.0em",
			fixed : true
		}, {
			index : 1,
			name : "@Messages.get("finished")",
			id : "finished",
			x : 340,
			y : 650,
			yy: "0.0em",
			fixed : true
		}, {
			index : 2,
			name : "@Messages.get("discharge")",
			id : "discharge",
			x : 160,
			y : 230,
			yy: "0.0em",
			fixed : true
		}, {
			index : 3,
			name : "@Messages.get("bankruptcy_order")",
			id : "bankruptcy_order",
			x : 520,
			y : 230,
			yy: "0.0em",
			fixed : true
		}, {
			index : 4,
			name : "@Messages.get("discharge_after_bankruptcy_order")", 
			id : "discharge_after_bankruptcy_order",
			x : 520,
			y : 470,
			yy: "-0.31em",
			fixed : true
		}, {
			index : 5,
			name : "@Messages.get("bankruptcy_order_after_discharge")", 
			id : "bankruptcy_order_after_discharge",
			x : 160,
			y : 470,
			yy: "-0.31em",
			fixed : true
		}, {
			index : 6,
			name : "@Messages.get("end")", 
			id : "end",
			x : 100,
			y : 650,
			yy: "-0.0em",
			fixed : true
		}, {
			index : 7,
			name : "@Messages.get("revived")", 
			id : "revived",
			x : 240,
			y : 830,
			yy: "-0.0em",
			fixed : true
		}, {
			index : 8,
			name : "@Messages.get("unresolved2")", 
			id : "unresolved2",
			x : 440,
			y : 830,
			yy: "-0.0em",
			fixed : true
		}],
		
edges : [ {
			source : 0,
			target : 1,
			labelX: 260,
			labelY: 310,
			type : "resolved"
		}, {
			source : 0,
			target : 2,
			labelX: 180,
			labelY: 100,
			type : "resolved"
		}, {
			source : 0,
			target : 3,
			labelX: 430,
			labelY: 100,
			type : "resolved"
		}, {
			source : 2,
			target : 5,
			labelX: 80,
			labelY: 330,
			type : "resolved"
		}, {
			source : 3,
			target : 4,
			labelX: 530,
			labelY: 330,
			type : "resolved"
		}, {
			source : 2,
			target : 1,
			labelX: 240,
			labelY: 370,
			type : "resolved"
		}, {
			source : 3,
			target : 1,
			labelX: 370,
			labelY: 370,
			type : "resolved"
		}, {
			source : 4,
			target : 1,
			labelX: 450,
			labelY: 560,
			type : "resolved"
		}, {
			source : 5,
			target : 1,
			labelX: 170,
			labelY: 560,
			type : "resolved"
		}, {
			source : 1,
			target : 6,
			labelX: 180,
			labelY: 600,
			type : "resolved"
		}, {
			source : 1,
			target : 7,
			labelX: 220,
			labelY: 710,
			type : "resolved"
		}, {
			source : 1,
			target : 8,
			labelX: 400,
			labelY: 710,
			type : "resolved"
		} ]					
	};
	
	function getPreviousNodes(graph, node_index) {
		var previousNodes = [];
		for (var i = 0; i < graph.edges.length; i++) {
			edge = graph.edges[i]
			if (edge.target.index == node_index) { 
				previousNodes.push(edge.source.index);
			}
		}
		return previousNodes;
	}
	
	function getFollowingNodes(graph, node_index) {
		var previousNodes = [];
		for (var i = 0; i < graph.edges.length; i++) {
			edge = graph.edges[i]
			if (edge.source.index == node_index) {
				previousNodes.push(edge.target.index);
			}
		}
		return previousNodes;
	}
	

	var width = 650, height = 950;

	var force = d3.layout.force().nodes(d3.values(graph.nodes))
			.links(graph.edges).size([ width, height ])
			.linkDistance(60).charge(-300).on("tick", tick).start();

	var svg = d3.select("#graph").append("svg")
			.attr("width", width).attr("height", height);

	svg.append("defs").selectAll("marker").data(
			[ "suit", "licensing", "resolved" ]).enter().append(
			"marker").attr("id", function(d) {
		return d;
	}).attr("viewBox", "0 -5 10 10").attr("refX", 14).attr("refY",
			-0.5).attr("markerWidth", 6).attr("markerHeight", 6)
			.attr("orient", "auto").append("path").attr("d",
					"M0,-5L10,0L0,5");

	var path = svg.append("g").selectAll("path")
			.data(graph.edges).enter().append("path").attr(
					"class", function(d) {
						return "link " + d.type;
					}).attr("marker-end", function(d) {
				return "url(#" + d.type + ")";
			});

	var circle = svg.append("g").selectAll("circle").data(
			force.nodes()).enter().append("circle").attr("r", 60).attr('class', 'unselectedCircle');

	var text = svg.append("g")
	 			  .selectAll("text")
				  .data(force.nodes())
				  .enter()
				  .append("text")
				  .attr("text-anchor", "middle")
				  .attr("y", function(d) {
								return d.yy
				  }).html(function(d) {
								return d.name.split(";")[0]
				  });
	
	svg.append("g")
	   .selectAll("text")
	   .data(force.nodes()).enter().append("text")
	   .attr("text-anchor", "middle")
	   .attr("transform", function(d) { return "translate(" + d.x + "," + (d.y + 14) + ")"})
	   .html(function(d) {
	            return d.name.split(";")[1]
			 });
	
	svg.append("g")
	   .selectAll("text")
	   .data(force.links())
	   .enter()
	   .append("text")
	   .each(function(d){
				node = d3.select(this);
				node.attr("x", d.labelX);
				node.attr("y", d.labelY);
		 	 })
	   .html(function(d) {
				return draw_edge_label(d, 0);
		  	 });
	
	svg.append("g")
	   .selectAll("text")
	   .data(force.links())
	   .enter()
	   .append("text")
	   .each(function(d){
				node = d3.select(this);
				node.attr("x", d.labelX);
				node.attr("y", d.labelY + 19);
			 })
	   .html(function(d) {
			 	return draw_edge_label(d, 1);					
			 });
	
	function draw_edge_label(data, line_num) {
		label = edge_labels[data.target.id];
		option = $("#left_insolvency_state option[value='"+data.source.id +"']");
		f = getFollowingNodes(graph, data.source.index);
		l = false
		for (i = 0; i < f.length; i++) {
			option_ = $("#left_insolvency_state option[value='"+graph.nodes[f[i]].id +"']");
			if (option_.attr("selected")) {
				l = true
			}
		}
		if (label != null && option.attr("selected") && !l) {
			parts = label.split(';');
			label = parts[line_num];
			return label;							
		}
	}

	function tick() {
		path.attr("d", linkArc);
		circle.attr("transform", transform);
		text.attr("transform", transform);
	}

	function linkArc(d) {
		var dx = d.target.x - d.source.x, dy = d.target.y
				- d.source.y, s = Math.sqrt(dx * dx + dy * dy)
		dx2 = dx / s * 58
		dy2 = dy / s * 58

		dx = d.source.x + (dx - dx2)
		dy = d.source.y + (dy - dy2)

		dr = 0;
		return "M" + d.source.x + "," + d.source.y + "A" + dr + ","
				+ dr + " 0 0,1 " + dx + "," + dy;
	}
	function transform(d) {
		return "translate(" + d.x + "," + d.y + ")";
	}
	
	function isNodeSelected(id) {
		var option = $("#left_insolvency_state option[value='"+id +"']");
		return option.attr("selected") != null;
	}
	
	function markNodes(node, data) {
		option = $("#left_insolvency_state option[value='"+data.id +"']");
		right_option = $("#right_insolvency_state option[value='"+data.id +"']");
		right_option.removeAttr("selected");
		
		if (option.attr("selected") != null) {
			node.attr('class', 'selectedCircle')
			return;
		} else {
			if (data.id == 'unresolved') {
				node.attr('class', 'nextCircle');
				right_option.attr("selected", "selected");
			} else {
				node.attr('class', 'unselectedCircle')
			}
		}
		previousNodes = getPreviousNodes(graph, data.index);
		for (var i = 0; i < previousNodes.length; i++) {
			if (isNodeSelected(graph.nodes[previousNodes[i]].id)) {
				followingNodes = getFollowingNodes(graph, previousNodes[i]);
				isAnyFollowingSelected = false;
				for (var j = 0; j < followingNodes.length; j++) {
					if (isNodeSelected(graph.nodes[followingNodes[j]].id)) {
						isAnyFollowingSelected = true;
					}
				}							
				if (isAnyFollowingSelected) {
					node.attr('class', 'unselectedCircle');		
				} else {
					node.attr('class', 'nextCircle');
					right_option.attr("selected", "selected");
					break;
				}
			} else {
				node.attr('class', 'unselectedCircle');	
			}
		}
	}
	
	svg.selectAll("circle").on("click", function(){
		nodeData = this.__data__;
		node = d3.select(this);
		option = $("#left_insolvency_state option[value='"+nodeData.id +"']");
		if (nodeData.index == 8 || nodeData.index == 7 || nodeData.index == 6) {
			return;
		}
		if (option.attr("selected") != null) {
			followingNodes = getFollowingNodes(graph, nodeData.index);
			isAnyFollowingSelected = false;
			for (var j = 0; j < followingNodes.length; j++) {
				if (isNodeSelected(graph.nodes[followingNodes[j]].id)) {
					isAnyFollowingSelected = true;
				}
			}					
			if (isAnyFollowingSelected) {
				return;
			}
			option.removeAttr('selected');
		} else {						
			if (node.attr('class') != 'nextCircle') {
				return
			}
			option.attr('selected', 'selected')
		}	
		
		d3.selectAll('circle').each(function(d) {
			node = d3.select(this);
			markNodes(node, d);
		});
       });
	
	d3.selectAll('circle').each(function(d) {
		node = d3.select(this);
		markNodes(node, d);
	});				
};
</script>

