.table-div {
	display: table;
}

.tr-div {
	display: table-row;
}

.td-div {
	display: table-cell;
}

#insolvencyDetailFormTable td {
	padding-right: 5px;
}

body {
	font-family: Times New Roman;
	font-size: 11PT;
}

h1 {
	text-align: center;
	height: 100px;
	font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 1.8em;
	letter-spacing: .2em;
	margin: 0px;
	text-align: center;
	color: #6a9ca7;
	padding-top: 20px;
}

h2 {
	font-weight: bold;
	font-size: 1.3em;
	margin: 0px;
}

input[type="submit"],.asSubmit {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf', GradientType=0);
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

input[type="submit"]:hover,.asSubmit:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed', GradientType=0);
	background-color: #dfdfdf;
}

.link {
	fill: #666;
	stroke: #666;
	stroke-width: 1.5px;
}

line {
	color: black;
}

.unselectedCircle {
	stroke: #268bd2;
	stroke-width: 2.5px;
	fill: #99d5ff;
}

.selectedCircle {
	stroke: #A15222;
	stroke-width: 2.5px;
	fill: #FF7C2B;
}

.nextCircle {
	stroke: #247520;
	stroke-width: 2.5px;
	fill: #6ACF65;
}

circle:hover {
	stroke-width: 4.5px;
}

text {
	display: block;
	pointer-events: none;
	color: black;
}

#display-error {
	width: 400px;
	border: 1px solid #D8D8D8;
	padding: 5px;
	border-radius: 5px;
	font-family: Arial;
	font-size: 11px;
	text-transform: uppercase;
	background-color: rgb(255, 249, 242);
	color: rgb(211, 0, 0);
	text-align: center;
}

img {
	padding-right: 1px;
	float: left;
}

.info-box {
	background-color: #E0FFE2;
	border: 1px solid #82B886;
	color: #212121;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 10px 0;
	padding: 10px;
	text-align: left;
}

.info-box ul {
	margin: 0px 0px 0px 5px;
	padding: 10px;
}